@import "tailwindcss";

body {
  @apply bg-[#0d1117] text-green-400 font-mono;
}

/* subtle glow */
.terminal-glow {
  text-shadow: 0 0 5px rgba(0,255,150,0.5);
}
.custom-terminal-bg {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
              linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
}